<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button style="margin-bottom: 5px">
    <a th:href="@{/}" style="text-decoration: none">
        Back to blog list
    </a>
</button>
<div id="form">
    <form th:action="@{/remove}" th:object="${blog}"
          method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Signature</label>
            <input type="text" th:field="*{signature}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>

</body>
</html>