<app-navbar></app-navbar>
<div class="container-fluid" style="min-height: 100vh">
  <div class="container">
    <div class="col-12">
      <a class="btn btn-primary" routerLink="/customers/create">Create Customer</a>
    </div>
    <div class="col-4">
      <nav class="navbar">
        <label>Search:</label>
        <input type="text" class="form-control" name="searchName" [(ngModel)]="searchName" (ngModelChange)="search()"
               placeholder="Name Customer...">
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <table class="table table-dark table-striped align-middle table-responsive">
          <thead>
          <tr>
            <th scope="col" (click)="sort('id')">ID &nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
            </th>
            <th scope="col">Customer Code</th>
            <th scope="col" (click)="sort('name')">Name &nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
            </th>
            <th scope="col">Type Customer</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">ID Card</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerList | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: page} ">
            <td>{{customer.id}}</td>
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.customerType.name}}</td>
            <td>{{customer.birthday}}</td>
            <!--        <td>{{customer.gender}}</td>-->
            <td>
              <span *ngIf="customer.gender == 'Male'; else elseBlock">Nam</span>
              <ng-template #elseBlock>
                <span>Nữ</span>
              </ng-template>
            </td>
            <td>{{customer.idCard}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>
              <button class="btn btn-primary" [routerLink]="['/customers/edit',customer.id]">Edit</button>
              &nbsp;
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                      (click)="sendId(customer.id)">Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you wanna delete {{stringName}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCustomer(delId)">Yup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
